<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>DOC - Donor on Call</display-name>
	<servlet>
		<servlet-name>donoroncall</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/doc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/doc/gateWay/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/doc/donor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/doc/requester</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/doc/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/admn/regUserList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/admn/authorize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/admn/acceptBloodRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/donor/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/donor/forrecipient</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/donor/selectDonor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/donor/pendingRequests</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>donoroncall</servlet-name>
		<url-pattern>/donor/acceptRequest</url-pattern>
	</servlet-mapping>
</web-app>
